extends ../layout

block content 
    h1 Listado de bicicletas
    table.table 
        thead 
            tr 
                th ID
                th Color
                th Modelo
                th Ubicacion
                th
                th
        tbody 
            each bici in bicis
                tr
                    td=bici.id
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
                    td
                        a(href='/bicicletas/' + bici.id + '/update') Editar
                    td 
                       form(action=`/bicicletas/${bici.id}?_method=DELETE`, method='POST')
                            input(type='hidden' name='id' value= bici.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'
    a(href='/') Home
